<head>
    <style>
        canvas { margin: 0; }
    </style>
</head>
<body>
<canvas id="canvas" width="1440" height="900"></canvas>
<script>
letters = [
    {name: 'A', x: 200, y: 50, color: 'red'},
    {name: 'B', x: 200, y: 250, color: 'lime'},
    {name: 'C', x: 200, y: 450, color: 'blue'}
];

box = {
    x: 500,
    y: 250,
    colors: ['aqua', 'magenta', 'yellow']
}

draggedObj = null;
dragStart = null;
drawLetters = false;

canvas.width = innerWidth;
canvas.height = innerHeight;
ctx = canvas.getContext('2d');
ctx.globalCompositeOperation = 'lighten'
ctx.font = '200px Arial Black';
ctx.textBaseline = 'top'

function drawLetter(l) {
    ctx.fillStyle = l.color;
    if (drawLetters)
        ctx.fillText(l.name, l.x, l.y);
    else
        ctx.fillRect(l.x, l.y, 200, 200);
}

function draw() {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    letters.forEach(drawLetter);
    box.colors.forEach((c,i) => {
        ctx.fillStyle = c;
        ctx.fillRect(box.x + 200 * i, box.y, 200, 200);
    })
}

onmousedown = e => {
    dragStart = e;
    if (inBox(e, box, 600, 200)) {
        draggedObj = box;
        return;
    }

    draggedObj = letters.find(l => inBox(e, l, 200, 200));
}

onmousemove = e => {
    if (draggedObj) {
        draggedObj.x += e.x - dragStart.x;
        draggedObj.y += e.y - dragStart.y;
        dragStart = e;
        draw();
    }
}

onmouseup = _ => draggedObj = null;

function inBox(cursor, box, width, height) {
    var right = box.x + width;
    var bottom = box.y + height;
    return cursor.x > box.x && cursor.x < right && cursor.y > box.y && cursor.y < bottom;
}

draw();

onkeypress = _ => {
    drawLetters = true;
    draw();
}

</script>
</body>
